{% extends "admin/index.html" %}


{% block recent_actions  %}
	
	<iframe src="https://jpgraficos.herokuapp.com/caravel/explore/table/1/?x_axis_label=&datasource_name=abastecimento_abastecimento&goto_dash=false&contribution=false&slice_name=Soma+do+Consumo+de+Combust%C3%ADveis+pelo+tempo&show_legend=y&resample_how=&num_period_compare=&since=1+year+ago&y_axis_label=&x_axis_showminmax=y&y_axis_zero=false&flt_op_0=in&viz_type=line&add_to_dash=existing&datasource_type=table&rolling_periods=&time_compare=&userid=1&flt_col_0=combustivel&slice_id=8&x_axis_format=smart_date&show_brush=y&until=now&new_slice_name=&save_to_dashboard_id=1&groupby=combustivel&new_dashboard_name=&flt_eq_0=&rich_tooltip=y&rolling_type=None&rdo_save=overwrite&resample_rule=&y_axis_format=.3s&where=&limit=50&having=&metrics=sum__quantidade&line_interpolation=linear&datasource_id=1&y_log_scale=false&standalone=true&resample_fillmethod=&collapsed_fieldsets=&granularity_sqla=criado_date" width="100%" height="800" seamless frameBorder="0" scrolling="no"></iframe>


<iframe src="https://jpgraficos.herokuapp.com/caravel/explore/table/1/?donut=y&datasource_name=abastecimento_abastecimento&goto_dash=false&viz_type=pie&show_legend=y&slice_id=9&since=1+year+ago&flt_op_0=in&flt_op_1=in&add_to_dash=existing&datasource_type=table&userid=1&flt_col_0=combustivel&flt_col_1=combustivel&until=now&new_slice_name=Litros+de+Combustivel+-+Rosca&save_to_dashboard_id=1&groupby=combustivel&new_dashboard_name=&flt_eq_1=&flt_eq_0=&slice_name=Litros+de+Combustivel+-+Rosca&rdo_save=saveas&where=&limit=50&having=&metrics=sum__quantidade&datasource_id=1&standalone=true&collapsed_fieldsets=&granularity_sqla=criado_date" width="100%" height="800" seamless frameBorder="0" scrolling="no"></iframe>



 {{ block.super }}
{% endblock %}