{% extends "admin/index.html" %}
{% load i18n admin_urls static admin_modify %}


{% block recent_actions  %}

	{% if request.user.is_superuser %}
		<table class="table table-bordered">
          <thead>
            <tr>
              <th class="title-head-apps">
                Novas Funcionalidades
              </th>
              <th class="search-apps-models">
              </th>
            </tr>
          </thead>
          <tbody class="list">
          	<tr class="app-abastecimento bg-colored">
      				<td rowspan="12" class="app-name ">
                <h4> Agenda de Manutencao </h4>  <br>
                <h4> Agenda de Locação </h4>  <br>
                <h4> Ordem de serviço </h4>  <br>
                <h4> Abastecimento Graficos </h4>  <br>
                <h4> Balanco de custo e lucro </h4>  <br>
      				</td>
              <td class="model-name model-abastecimento">
                <h4><a href="./abastecimento/manutencaoveiculo/" class="section" title="Manutencao Preventiva"  style="color: #337ab7!important;">Agenda de Manutencao</a></h4> <br>
                <h4><a href="./locacao/" class="section" title="Agenda de Locacao"  style="color: #337ab7!important;">Agenda de Locação</a></h4> <br>
               <h4> <a href="./abastecimento/ordemservico/" class="section" title="Ordem de serviço"  style="color: #337ab7!important;"> Ordem de serviço </a></h4>  <br>
               	<h4><a href="./abastecimento/abastecimento_grafico/" class="section" title="Abastecimento Graficos"  style="color: #337ab7!important;"> Abastecimento Graficos </a> </h4> <br>
                <h4><a href="./abastecimento/balanco/" class="section" title="Balanco de custo e lucro"  style="color: #337ab7!important;">Balanco de custo e lucro</a></h4> <br>
              </td>
          	</tr>
          </tbody>
        </table>

	<br>
 		
 		<br><br>
		 
		 
 

	{% endif %}
 {{ block.super }}

{% endblock %}